<!DOCTYPE html>
<html>
<style>
div {
    height: px;
    background: linear-gradient(to bottom, #ffffff 0%, #3399ff 100%)
}
</style>
<body>

<h1>RENAI MEDICITY KOZHIKODE</h1>
<div class="about-section">
  <h1>Renai Medicity</h1>
  <p> medical College) is a premier medical college located in the city of Kozhikode in Kerala. It was established in 1957 as the second medical college in Kerala. Since then the institution has grown into a premier centre of medical education in the state.</p>
  <p>Govt.Medical College, Kozhikode( Calicut medical College) is a premier medical college located in the city of Kozhikode in Kerala. It was established in 1957 as the second medical college in Kerala. Since then the institution has grown into a premier centre of medical education in the state. The vast and sprawling Medical College campus is spread over an extensive area of 270 acres (1.1 km²) and is located about 8 km east from the heart of Kozhikode city. It was formerly affiliated to the University of Calicut and now to the Kerala University for Health Sciences (KUHS). This college and allied institutions serve 40% of the population of Kerala.



The foundation stone of the college was laid on 29 May 1957 by the then Governor of Kerala, Dr. B. Ramakrishna Rao. The College was formally inaugurated on 5 August 1957 by the then minister of Health, Kerala state Dr. A. R. Menon, whose initiative and zeal were responsible for the establishment of the institution. Dr. K. N. Pisharoty, the first principal, was responsible for the task of organizing the college..</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="ceo3.jpg" alt="Jane" style="width:40%">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="ceo.jpg" alt="Mike" style="width:40%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="ceo2.jpg" alt="John" style="width:40%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>

